.burger-button {
  width: 44px;
  height: 44px;
  transition: opacity 0.3s ease;
  cursor: pointer;
}
.burger-button:hover {
  opacity: 0.6;
}
@media (max-width: 420px) {
  .burger-button {
    width: 40px;
    height: 43px;
  }
}
