.save-button {
  width: 100%;
  max-width: 410px;
  min-height: 45px;
  border: none;
  border-radius: 3px;
  /* background-color: #4285f4; */
  background-color: #f8f8f8;
  color: #c2c2c2;
  /* color: #fff; */
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  /* transition: opacity 0.3s ease;
  cursor: pointer; */
}
/* .save-button:hover {
  opacity: 0.6;
} */
