.profile__title {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  margin: 74px auto 107px;
}
@media screen and (max-width: 825px) {
  .profile__title {
    margin: 236px auto 79px;
  }
}
@media screen and (max-width: 600px) {
  .profile__title {
    margin: 70px auto 63px;
  }
}

.profile__input-block {
  max-width: 410px;
  display: flex;
  flex-direction: column;
  margin: auto;
  /* justify-content: space-between; */
}
@media screen and (max-width: 600px) {
  .profile__input-block {
    padding: 0 30px;
  }
}

.profile__label {
  padding: 16px 0 16px;
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  line-height: normal;
  border-bottom: 1px solid #424242;
  display: flex;
  justify-content: space-between;
}
.profile__label:last-of-type {
  border-bottom: none;
}

.profile__input {
  color: #fff;
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
  background-color: #202020;
  border: none;
  text-align: right;
}

.profile__links {
  margin-top: 204px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 825px) {
  .profile__links {
    margin-top: 192px;
  }
}
@media screen and (max-width: 600px) {
  .profile__links {
    margin-top: 360px;
  }
}

.profile__link {
  margin-bottom: 16px;
  text-decoration: none;
  transition: opacity 0.3s ease;
  cursor: pointer;
}
.profile__link:hover {
  opacity: 0.6;
}

.profile__link_edit {
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
}

.profile__link_logout {
  color: #ee3465;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
}
