.portfolio {
  margin: 0 auto 108px;
  max-width: 1280px;
  padding: 0 70px;
  box-sizing: border-box;
}
@media screen and (max-width: 825px) {
  .portfolio {
    margin: 0 auto 70px;
    max-width: 768px;
    padding: 0 50px;
  }
}
@media screen and (max-width: 600px) {
  .portfolio {
    padding: 0 30px;
  }
}
@media screen and (max-width: 420px) {
  .portfolio {
    margin: 0 auto 50px;
    padding: 0 14px;
  }
}

.portfolio__title {
  margin: 0 0 31px;
  color: #8b8b8b;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}
@media screen and (max-width: 420px) {
  .portfolio__title {
    font-size: 14px;
    margin: 0 0 22px;
  }
}

.portfolio__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.portfolio__list-item {
  padding: 19px 0 20px;
  box-sizing: border-box;
  margin: 0;
  border-bottom: 1px solid #424242;
  height: 89px;
}
.portfolio__list-item:last-of-type {
  border-bottom: none;
}
@media screen and (max-width: 600px) {
  .portfolio__list-item {
    padding: 19px 0 20px;
    box-sizing: border-box;
    margin: 0;
    height: 67px;
  }
}

.portfolio__link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.portfolio__link-text {
  margin: 0;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -1.2px;
}
@media screen and (max-width: 825px) {
  .portfolio__link-text {
    font-size: 28px;
    letter-spacing: -1.12px;
  }
}
@media screen and (max-width: 600px) {
  .portfolio__link-text {
    font-size: 22px;
    line-height: 25px;
  }
}
@media screen and (max-width: 420px) {
  .portfolio__link-text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.72px;
  }
}

.portfolio__link-symbol {
  margin: 0;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2px;
}
@media screen and (max-width: 600px) {
  .portfolio__link-symbol {
    font-size: 22px;
    line-height: 32px;
  }
}
@media screen and (max-width: 420px) {
  .portfolio__link-symbol {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.72px;
  }
}
