.navigation {
  width: 100%;
}

.navigation__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.navigation__box {
  height: 100px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

.navigation__burger {
  position: relative;
  top: 20px;
  right: 20px;
}

.navigation__list {
  list-style: none;
}

.navigation__list-item {
  text-decoration: none;
  color: #fff;
}
