.navigation {
  width: 100%;
}

.navigation__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.navigation__box {
  height: 100px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

.navigation__burger {
  position: relative;
  top: 20px;
  right: 20px;
}

.navigation__list {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 22px;
  line-height: 28px;
  gap: 30px;
}

.navigation__list-item {
  text-decoration: none;
  color: #fff;
}

.navigation__list-item_hidden {
  visibility: hidden;
}

@media screen and (max-width: 825px) {
  .navigation__burger {
    display: block;
    position: absolute;
    right: 10px;
    top: 27px;
    cursor: pointer;
    z-index: 1;
  }

  .navigation__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: +110%;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 520px;
    height: 100vh;
    background-color: #202020;
    z-index: 1;
    transition: left 0.4s;
  }

  .navigation__list_active {
    left: calc(100% - 520px);
  }
}

@media screen and (max-width: 520px) {
  .navigation__list_active {
    left: 0;
  }
}
