.search-form {
  /* border: 1px solid red; */
  margin: 0 auto 10px;
  padding: 80px 0 10px;
  /* max-width: 1280px; */
  /* height: 228px; */
  /* box-sizing: border-box; */
  width: 100%;
  border: none;
  border-bottom: 1px solid #424242;
}
@media (max-width: 825px) {
  .search-form {
    /* padding: 80px 30px 0; */
    /* box-sizing: border-box; */
  }
}
@media (max-width: 420px) {
  .search-form {
    /* padding: 80px 14px 0; */
  }
}

.search-form__content {
  display: flex;
  flex-direction: column;
}

.search-form__row {
  max-width: 1140px;
  margin: 0 auto 28px;
  display: grid;
  grid-template-columns: 1fr 44px;
  row-gap: 10px;
  align-items: center;
}
@media (max-width: 825px) {
  .search-form__row {
    margin: 0 auto 40px;
  }
}
@media (max-width: 420px) {
  .search-form__row {
    margin: 0 auto 46px;
  }
}

.search-form__input {
  margin-right: 10px;
  /* display: flex; */
  /* max-width: 1086px; */
  padding: 0 0 0 20px;
  height: 50px;
  border: none;
  background-color: #2f2f2f;
  border-radius: 8px;
  color: #8b8b8b;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
@media (max-width: 825px) {
  .search-form__input {
    height: 50px;
    padding: 0 0 0 20px;
  }
}
@media (max-width: 420px) {
  .search-form__input {
    height: 44px;
    padding: 0 0 0 13px;
  }
}

.search-form__line {
  margin: 39px auto 10px;
  max-width: 1140px;
  border-bottom: 1px;
  color: #424242;
}

.search-form__find-button {
  width: 44px;
  height: 44px;
  transition: opacity 0.3s ease;
  cursor: pointer;
  /* position: absolute; */
  /* top: 20px; */
  /* right: 20px; */
  border: none;
  background: none;
  background-image: url(../../images/find.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.search-form__find-button:hover {
  opacity: 0.6;
}
