.register {
  /* border: 1px solid red; */
  max-width: 396px;
  margin: auto;
  padding: 70px 30px 0;
  box-sizing: border-box;
}

.register__title {
  margin: 36px 0 30px;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.register__form {
  display: flex;
  flex-direction: column;
}

.register__form_label {
  color: #8b8b8b;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
}

.register__form_input {
  margin: 10px 0 10px;
  padding: 0 0 0 15px;
  box-sizing: border-box;
  width: 100%;
  max-width: 381px;
  height: 46px;
  border: none;
  border-radius: 8px;
  background-color: #2f2f2f;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
}
/* .register__form_input:last-of-type {
  margin: 10px 0 10px;
} */

.register__form_error {
  height: 30px;
}

.register__form_button {
  margin: 51px 0 16px;
}

.register__login-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.register__question {
  color: #8b8b8b;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin: 0 6px 0 0;
}

.register__link {
  color: #4285f4;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  transition: opacity 0.3s ease;
  cursor: pointer;
}
.register__link:hover {
  opacity: 0.6;
}
