.footer {
  /* border: 1px solid red; */
  /* margin: auto; */
  max-width: 1280px;
  /* height: 172px; */
  width: 100%;
  margin: 0 auto;
  padding: 79px 70px 20px;
  box-sizing: border-box;
  flex-shrink: 0;
}
@media (max-width: 825px) {
  .footer {
    padding: 79px 30px 20px;
  }
}
@media (max-width: 420px) {
  .footer {
    padding: 79px 10px 20px;
    min-height: 253px;
  }
}

.footer__text {
  max-width: 1140px;
  color: #8b8b8b;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  margin: 0 auto;
  padding: 0 0 21px;
  border-bottom: 1px solid #424242;
}
@media (max-width: 420px) {
  .footer__text {
    font-size: 12px;
  }
}

.footer__list {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 120px 42px;
  grid-template-rows: min-content;
  gap: 20px;
  grid-template-areas: 'copyright practicum github ';
  align-items: start;
}
@media (max-width: 420px) {
  .footer__list {
    grid-template-columns: 1fr;
    grid-template-rows: 15px 15px 15px;
    gap: 12px;
    grid-template-areas:
      'practicum'
      'github'
      'copyright';
    justify-items: center;
    margin: 30px auto 20px;
  }
}

.footer__list-item {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.6;
}
@media (max-width: 420px) {
  .footer__list-item {
    font-size: 12px;
    line-height: 1.4;
  }
}

.footer__practicum {
  grid-area: practicum;
}

.footer__github {
  grid-area: github;
}

.footer__copyright {
  margin: 0;
  grid-area: copyright;
}
@media (max-width: 420px) {
  .footer__copyright {
    margin: 9px 0 0;
    grid-area: copyright;
  }
}

.footer__link {
  text-decoration: none;
  color: #fff;
  transition: opacity 0.3s ease;
  cursor: pointer;
}
.footer__link:hover {
  opacity: 0.6;
}
