.login__form-label {
  color: #8b8b8b;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  /* margin-top: 10px; */
}

.login__form-input {
  margin: 10px auto 2px;
  padding: 0 0 0 15px;
  box-sizing: border-box;
  width: 100%;
  min-height: 46px;
  border: none;
  border-radius: 8px;
  background-color: #2f2f2f;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
}

.login__input-error {
  color: #ee3465;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 6px;
}

/* .login {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
}

.login__container {
  display: flex;
  flex-direction: column;
  max-width: 396px;
  width: 100%;
  margin: auto;
  padding: 70px 30px;
}
@media (max-width: 420px) {
  .login__container {
    align-items: center;
    padding: 56px 30px 30px;
  }
}


.login__title {
  text-align: left;
  margin: 36px 0 30px;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 420px) {
  .login__title {
    margin: 48px 0 70px;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
  }
}

.login__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

.login__form-label {
  color: #8b8b8b;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
}

.login__form-input {
  margin: 10px auto 10px;
  padding: 0 0 0 15px;
  box-sizing: border-box;
  width: 100%;
  max-width: 396px;
  height: 46px;
  border: none;
  border-radius: 8px;
  background-color: #2f2f2f;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
}

.login__input-error {
  height: 30px;
  margin: 0 0 89px;
}

.login__form_button {
  margin: 51px 0 16px;
}

.login__register-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
  cursor: pointer;
}
.login__register-link:hover {
  opacity: 0.6;
}

.login__question {
  color: #8b8b8b;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin: 0 6px 0 0;
}
@media (max-width: 420px) {
  .login__question {
    font-size: 12px;
  }
}

.login__link {
  color: #4285f4;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  transition: opacity 0.3s ease;
  cursor: pointer;
}
.login__link:hover {
  opacity: 0.6;
}
@media (max-width: 420px) {
  .login__link {
    font-size: 12px;
  }
} */
