.navtab {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
@media screen and (max-width: 420px) {
  .navtab {
    margin-bottom: 22px;
  }
}

.navtab__button {
  width: 96px;
  height: 36px;
  border: none;
  border-radius: 10px;
  background-color: #303030;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  margin-right: 10px;
}
.navtab__button:last-of-type {
  margin-right: 0;
}
@media screen and (max-width: 420px) {
  .navtab__button {
    width: 82px;
    height: 26px;
    font-size: 10px;
    margin-right: 6px;
  }
}
